{% load static %}
{% load myapp_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'mysite/css/styles.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'mysite/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"" />
    <link type="image/x-icon" rel="shorcut icon" href="{% static 'mysite/images/favicon.ico' %}" />
    <script src="static/mysite/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    
</head>
<body>
    {% include 'mysite/header.html' %}
    <main class="main">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
              <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-5 fw-semibold">Навигация</span>
            </a>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    <a href="{% url 'home' %}" class="sidebar-links"><li>Все посты</li></a>
                </button>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Категории
                </button>
                <div class="collapse" id="dashboard-collapse" style="">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">{% show_categories %}</a></li>
                  </ul>
                </div>
              </li>
              <li class="border-top my-3"></li>
              <li class="mb-1">
              </li>
            </ul>
          </div>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    {% include 'mysite/footer.html' %}
    <script src="static/mysite/bootstrap/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
    <script src="sidebars.js"></script>
</body>
</html>