{% extends 'mysite/base.html' %}

{% block content %}
  <div>
    
      <img src="../../{{ userprofile.profile_pic }}" height=168 width=168><br><br>
    
      
    
      <p><strong>Имя пользователя:</strong> {{ userprofile.user }} </p><br><br>
      <p><strong>О себе:</strong> {{ userprofile.bio }}</p><br><br>
      {% if userprofile.twitter %}
      <p><strong>Twitter:</strong> {{ profile.twitter }}</p><br><br>
      {% endif %}
      {% if userprofile.instagram %}
      <p><strong>Instagram:</strong> {{ userprofile.instagram }}</p><br><br>
      {% endif %}
      {% if userprofile.vk %}
      <p><strong>Вконтакте:</strong> {{ userprofile.vk }}</p><br><br>
      {% endif %}

    </div>

{% endblock %}